<div *ngIf="categorieChoisi != 2">
  <ng-container *ngIf="estSoumis">
    <mat-spinner></mat-spinner>
  </ng-container>

  <mat-card *ngIf="!loading" style="text-align: center">
    <mat-card-title>La Question  {{ question.id_question }} :</mat-card-title>
    <mat-card-content>
      {{ question.libelle }}
    </mat-card-content>
  </mat-card>

  <!---<mat-grid-list cols="1" rowHeight="2:1" *ngIf="!estSoumis">
    <mat-grid-tile
      *ngFor="let reponse of reponses">
      <ul>
        <button *ngFor="let r of reponses" (click)="valueOfRep(r.bonne_reponse,r.id_question,r.id_reponse)">{{r.libelle}}</button>
      </ul>
    </mat-grid-tile>
  </mat-grid-list>



  <form [formGroup]="formAutre" (ngSubmit)="test()" >

    <label *ngFor="let r of reponses">
      <input type="checkbox" value={{r.id_reponse}}  (change)="test2($event)" formControlName="title" />
      {{r.libelle}}
    </label>
    <button type="submit">Envoyer !</button>

  </form>--->






</div>

 <!-- Mettre un affichage différent pour sel et poivre :  -->

<div *ngIf="categorieChoisi == 2">
  <ng-container *ngIf="estSoumis">
    <mat-spinner></mat-spinner>
  </ng-container>

  <mat-card *ngIf="!loading" style="text-align: center">
    <mat-card-title>La Question  {{ question.id_question }} :</mat-card-title>
    <mat-card-content>
      {{ question.libelle }}
    </mat-card-content>
  </mat-card>

  <form *ngIf="!estSoumis"
        [formGroup]="repForm"
        (ngSubmit)="submitBook()">
    <label *ngFor="let r of reponses">
      <input
            type="radio"
            value={{r.id_reponse}}
            formControlName="title">
          {{r.libelle}}
    </label>


    <button type="submit">Envoyer ! </button>

  </form>

</div>




