<p>gestion-categorie works!</p>
<div *ngIf="!loading">
  <table>
    <thead>
      <tr>
        <th>Libelle</th>
        <th>Bareme</th>
        <th>NbQuestion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let categorie of categories">
        <td>{{categorie.libelle}}</td>
        <td>{{categorie.bareme}}</td>
        <td>{{categorie.nb_question}}</td>
        <td>
          <button>Edit (not work)</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<form [formGroup]='form' (ngSubmit)="addCategorie()">
  <input type="text" formControlName="libelle">
  <input type="number" formControlName="bareme">
  <input type="number" formControlName="nb_questions">
  <button type="submit">Ajouter</button>
</form>
