<p>classement-equipe works!</p>
<div>

    <!--button (click)="equipeJService.getEquipeNom(1)">Meilleur</button-->
    <!--button (click)="dataObs = equipeJService.getClassementCroissant()">Meilleur en partant de la fin </button-->
</div> 
<table class="tab">
    <caption>HALL OF SHAME (haha si t'es dedans t'es nul)</caption>
    <tr>
        <th> ID equipe : </th>
        <th> ID equipe - joueur : </th>
        <th> ID joueur : </th>
    </tr>
    <tr *ngFor="let person of (dataObs | async)">
        <!--div>{{equipeJService.getEquipeNom(person.id_equipe)}}</div-->
        <td>{{person.id_equipe}}</td>
        <td>{{person.id_equipe_joueur}}</td> 
        <td>{{person.id_joueur}} </td>
    </tr>
</table>