<mat-grid-list cols="3" rowHeight="3:4">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Paramètre :</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/icons8-paramètres.gif">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card [routerLink]="['/question/7']">
      <mat-card-header>
        <mat-card-title>Jeu :</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/Burger_Quiz.png">
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Score :</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="assets/images/téléchargement.jpeg">
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
