<main>
  <section class="dashboard" *ngIf="!estTrie">
    <h1 class="dashboard_title">
      Choix du<br />
      mode de jeu
    </h1>
    <ul class="dashboard_grid">
      <li *ngFor="let c of listCategories" class="grid_elt">
        <a class="elt_cat" (click)="triSelect(c.id_catetgorie)">
          <p>{{ c.libelle }}</p>
        </a>
      </li>
    </ul>
  </section>

  <div *ngIf="estTrie && !paramPartie">
    <form [formGroup]="paramPartieValeur" (ngSubmit)="triSelectBis()">
      <div *ngFor="let t of listeThemeSelect">
        <label>{{ t.libelle }}</label>
        <input type="radio" value="{{ t.id_theme }}" formControlName="theme" />
      </div>
      <button type="submit">Envoyer !</button>
    </form>
  </div>

  <app-jouer
    *ngIf="estTrie && paramPartie"
    [tabQ]="tabQuestionsLive"
    [categorie]="categorie"
  ></app-jouer>
</main>
